# 1.pandas

In [1]:
import pandas as pd

In [2]:
pd.DataFrame([[4,7,10],[5,8,11],[6,9,12]])

   0  1   2
0  4  7  10
1  5  8  11
2  6  9  12

In [7]:
pd.DataFrame({"a":[4,7,10],"b":[5,8,11],"c":[6,9,12]})

    a   b   c
0   4   5   6
1   7   8   9
2  10  11  12

In [8]:
pd.DataFrame([[4,7,10],[5,8,11],[6,9,12]],index=[1,2,3],columns=["a","b","c"])

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [9]:
pd.DataFrame({"a":[4,7,10],"b":[5,8,11],"c":[6,9,12]},index=["a",2,3])

    a   b   c
a   4   5   6
2   7   8   9
3  10  11  12

In [11]:
pd.DataFrame({"a":[4,7,10],"b":[5,8,11],"c":[6,9,12]},index=pd.MultiIndex.from_tuples([('d',1),('d',2),('e',9)],names=['w','r']))

      a   b   c
w r
d 1   4   5   6
  2   7   8   9
e 9  10  11  12

In [14]:
df=pd.read_csv('대표식품_목록_및_분류_20190305.csv',engine='python') #csv 파일 읽어들임>같은 파일안에 있어야딤

In [17]:
df

      대표식품코드    대표식품명  식품유형 식품분류(대) 식품분류(중) 식품분류(소)  대표식품 내 전통식품수
0     100003     가루전병  복합식품      부식     구이류       전             1
1     100004     가물치국  복합식품      부식      국류     토장국             3
2     100005     가물치회  복합식품      부식      회류      생회             5
3     100009   가시연꽃열매  단일식품     조미식     양념류     양념류             1
4     100010     가시연밥  복합식품      주식      밥류      기타             9
5     100016    가오리어채  복합식품      부식      회류      기타             1
6     100017      가이주  복합식품      주류      기타      기타             1
7     100018      가자미  단일식품      기타      기타      기타             1
8     100019     가자미국  복합식품      부식      국류      기타             1
9     100020     가자미젓  복합식품      부식     젓갈류     발효젓             2
10    100021    가자미조림  복합식품      부식      찜류      조림             1
11    100022    가자미찌개  복합식품      부식     전골류      찌개             1
12    100024       가지  단일식품      기타      기타      기타             2
13    100028      가지국  복합식품      부식      국류    맑은장국             2
14    100029     가지김치  복합식품      부식      김치    야채김치            13
15    100030     가지나물  복합식품      부식     나물류      숙채             9
16    100031    가지누르미  복합식품      부식     구이류      구이             1
17    100033     가지말림  단일식품      기타      기타      기타             2
18    100034      가지선  복합식품      부식      찜류       선             4
19    100035      가지장  복합식품     조미식      장류      기타             1
20    100037    가지장아찌  복합식품      부식    장아찌류     장아찌            10
21    100039      가지전  복합식품      부식     구이류       전             2
22    100040     가지절임  복합식품      기타      기타      기타            12
23    100041     가지조림  복합식품      기타      기타      기타             5
24    100042      가지지  복합식품      기타      기타      기타             4
25    100043    가지지게미  복합식품      기타      기타      기타             2
26    100044  가지지게미절임  복합식품      기타      기타      기타             7
27    100047      가지찜  단일식품      부식      찜류       찜             9
28    100050      가집장  복합식품     조미식      장류      기타             1
29    100051      가짜장  복합식품     조미식      장류      기타             1
...      ...      ...   ...     ...     ...     ...           ...
3499  104889       황탕  복합식품      부식      국류      탕류             1
3500  104890    황토닭구이  복합식품      부식     구이류      구이             1
3501  104893      국화채  복합식품      부식     나물류      숙채             1
3502  104894        회  복합식품      부식      회류      기타            15
3503  104896      회무침  복합식품      부식      회류      기타             1
3504  104897      회산춘  복합식품      주류    양조곡주    순곡주류             1
3505  104898       회어  복합식품      부식      회류      생회             1
3506  104900       회초  복합식품      기타      기타      기타             1
3507  104901       회향  단일식품      기타      기타      기타             2
3508  104903      회향탕  복합식품     기호식     음청류     음료류             3
3509  104904  회화나무가지술  복합식품      주류    양조곡주   혼양곡주류             1
3510  104906  회화나무잎국수  복합식품      주식      면류      국수             1
3511  104908       후추  단일식품      기타      기타      기타             1
3512  104910     후추가루  단일식품      기타      기타      기타             1
3513  104913   훈제돼지고기  복합식품      기타      기타      기타             2
3514  104914     훈제생선  복합식품      기타      기타      기타             1
3515  104915   훈제염장고기  복합식품      기타      기타      기타             1
3516  104918       흑당  복합식품     조미식     양념류     양념류             1
3517  104919       흑두  단일식품      기타      기타      기타             2
3518  104920      흑두당  복합식품     조미식     양념류     양념류             1
3519  104921      흑두즙  복합식품      주식      죽류       즙             2
3520  104922    흑임자다식  복합식품     기호식     한과류      다식            11
3521  104923     흑임자주  복합식품      주류    양조곡주   혼양곡주류             1
3522  104924     흑임자죽  복합식품      주식      죽류       죽             5
3523  104925      희렴초  복합식품      부식      찜류       초             1
3524  104926     힘줄요리  복합식품      기타      기타      기타             1
3525  105001      총백죽  복합식품      주식      죽류       죽             1
3526  105002      총시죽  복합식품      주식      죽류       죽             1
3527  105003     쇠비름죽  복합식품      주식      죽류       죽             1
3528  105005      삼계탕  복합식품      주식      죽류      기타             1

[3529 rows x 7 columns]

In [19]:
df.head(2)#위에서 2개

   대표식품코드 대표식품명  식품유형 식품분류(대) 식품분류(중) 식품분류(소)  대표식품 내 전통식품수
0  100003  가루전병  복합식품      부식     구이류       전             1
1  100004  가물치국  복합식품      부식      국류     토장국             3

In [20]:
df.tail(4)#e뒤애서 4개

      대표식품코드 대표식품명  식품유형 식품분류(대) 식품분류(중) 식품분류(소)  대표식품 내 전통식품수
3525  105001   총백죽  복합식품      주식      죽류       죽             1
3526  105002   총시죽  복합식품      주식      죽류       죽             1
3527  105003  쇠비름죽  복합식품      주식      죽류       죽             1
3528  105005   삼계탕  복합식품      주식      죽류      기타             1

In [24]:
df.sample(frac=0.01)#1%만 가져오기>>샘플이기떄문에 뒤죽박으로 랜덤으로 나옴

      대표식품코드    대표식품명  식품유형 식품분류(대) 식품분류(중) 식품분류(소)  대표식품 내 전통식품수
2904  104096      중백기  복합식품     기호식     한과류     유밀과             4
3106  104358     청매정과  복합식품     기호식     한과류      정과             6
1920  102744  소혀와 소신장  복합식품      기타      기타      기타             1
1640  102312     살구씨죽  복합식품      주식      죽류       죽             2
2257  103201      양하차  복합식품     기호식     음청류      다류             1
2686  103791       잡탕  복합식품      부식      국류      탕류            15
1688  102372     상추나물  복합식품      부식     나물류      숙채             1
478   100740      냉이죽  복합식품      부식     나물류      기타             3
2503  103544      타락탕  복합식품      기타      기타      기타             1
605   100929      닭백숙  복합식품      기타      기타      기타             5
686   101025     대추송편  복합식품     기호식      떡류      찐떡             1
3277  104585       파전  복합식품      부식     구이류       전             2
3525  105001      총백죽  복합식품      주식      죽류       죽             1
1367  101965      백합죽  복합식품      주식      죽류       죽             5
3475  104858     화향잎주  복합식품      주류      기타      기타             6
2340  103312      연잎주  복합식품      주류      기타      기타            11
2948  104152      진자죽  복합식품      주식      죽류       죽             1
1953  102790    송이장아찌  복합식품      부식    장아찌류     장아찌             1
1887  102693       소병  복합식품     기호식      떡류      기타             2
570   100876      달걀국  복합식품      부식      국류    맑은장국             1
3039  104281      창란젓  복합식품      부식     젓갈류     발효젓             2
3027  104265    찹쌀갱미죽  복합식품      주식      죽류       죽             1
1560  102209      사두주  복합식품      주류      기타      기타             1
2208  103129    양고기볶음  복합식품      부식      찜류      볶음             1
2823  103986      조기젓  복합식품      부식     젓갈류     발효젓             9
2610  103689      일일주  복합식품      주류    양조곡주    순곡주류            10
3205  104489   콩나물지짐이  복합식품      부식     전골류      찌개             1
562   100866    닥나무잎주  복합식품      주류      기타      기타             1
1796  102549   석이버섯주악  복합식품     기호식      떡류     지진떡             1
249   100397  곤쟁이젓깍두기  복합식품      부식      김치     무김치             1
2821  103981     조기국수  복합식품      주식      면류      국수             1
2523  103574      월과채  복합식품      부식     나물류      숙채             6
1375  101973    뱀장어구이  복합식품      부식     구이류      구이             2
2984  104211      차주법  복합식품      주류    양조곡주   혼양곡주류             1
2793  103942     젓국찌개  복합식품      부식     전골류      찌개             7

In [25]:
df.sample(n=10)#갯수도 가져옴 10개

      대표식품코드  대표식품명  식품유형 식품분류(대) 식품분류(중) 식품분류(소)  대표식품 내 전통식품수
398   100631     깨장  복합식품     조미식      장류      된장             2
3252  104549  토란장아찌  복합식품      부식    장아찌류     장아찌             2
3198  104482  콩꼬투리장  복합식품     조미식      장류      기타             1
2942  104145   진달래떡  복합식품     기호식      떡류     지진떡             1
3194  104477     콩국  복합식품      부식      국류    맑은장국             4
1662  102339    삼오주  복합식품      주류    양조곡주    순곡주류             6
3337  104675    필발죽  복합식품      주식      죽류       죽             1
3302  104619     팽란  복합식품      부식      회류      숙란             1
1337  101929    백로주  복합식품      주류    양조곡주    순곡주류             3
1246  101803      박    기술      기타      기타      기타             1

In [26]:
df.대표식품명 #컴럼만 뽑아내기

0          가루전병
1          가물치국
2          가물치회
3        가시연꽃열매
4          가시연밥
5         가오리어채
6           가이주
7           가자미
8          가자미국
9          가자미젓
10        가자미조림
11        가자미찌개
12           가지
13          가지국
14         가지김치
15         가지나물
16        가지누르미
17         가지말림
18          가지선
19          가지장
20        가지장아찌
21          가지전
22         가지절임
23         가지조림
24          가지지
25        가지지게미
26      가지지게미절임
27          가지찜
28          가집장
29          가짜장
         ...
3499         황탕
3500      황토닭구이
3501        국화채
3502          회
3503        회무침
3504        회산춘
3505         회어
3506         회초
3507         회향
3508        회향탕
3509    회화나무가지술
3510    회화나무잎국수
3511         후추
3512       후추가루
3513     훈제돼지고기
3514       훈제생선
3515     훈제염장고기
3516         흑당
3517         흑두
3518        흑두당
3519        흑두즙
3520      흑임자다식
3521       흑임자주
3522       흑임자죽
3523        희렴초
3524       힘줄요리
3525        총백죽
3526        총시죽
3527       쇠비름죽
3528        삼계탕
Name: 대표식품명, Length: 3529, dtype: object

In [28]:
df['대표식품 내 전통식품수']#기호라던가 띄어쓰기 있을경우에는 대괄호로 문자열로 해서 가능함

0        1
1        3
2        5
3        1
4        9
5        1
6        1
7        1
8        1
9        2
10       1
11       1
12       2
13       2
14      13
15       9
16       1
17       2
18       4
19       1
20      10
21       2
22      12
23       5
24       4
25       2
26       7
27       9
28       1
29       1
        ..
3499     1
3500     1
3501     1
3502    15
3503     1
3504     1
3505     1
3506     1
3507     2
3508     3
3509     1
3510     1
3511     1
3512     1
3513     2
3514     1
3515     1
3516     1
3517     2
3518     1
3519     2
3520    11
3521     1
3522     5
3523     1
3524     1
3525     1
3526     1
3527     1
3528     1
Name: 대표식품 내 전통식품수, Length: 3529, dtype: int64

In [29]:
df['대표식품 내 전통식품수']>7 #조건추가도 가능 값은 트루 펄스로

0       False
1       False
2       False
3       False
4        True
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14       True
15       True
16      False
17      False
18      False
19      False
20       True
21      False
22       True
23      False
24      False
25      False
26      False
27       True
28      False
29      False
        ...
3499    False
3500    False
3501    False
3502     True
3503    False
3504    False
3505    False
3506    False
3507    False
3508    False
3509    False
3510    False
3511    False
3512    False
3513    False
3514    False
3515    False
3516    False
3517    False
3518    False
3519    False
3520     True
3521    False
3522    False
3523    False
3524    False
3525    False
3526    False
3527    False
3528    False
Name: 대표식품 내 전통식품수, Length: 3529, dtype: bool

In [30]:
df[df['대표식품 내 전통식품수']>7] #참인것만 뽑아서 보여줌

      대표식품코드   대표식품명  식품유형 식품분류(대) 식품분류(중) 식품분류(소)  대표식품 내 전통식품수
4     100010    가시연밥  복합식품      주식      밥류      기타             9
14    100029    가지김치  복합식품      부식      김치    야채김치            13
15    100030    가지나물  복합식품      부식     나물류      숙채             9
20    100037   가지장아찌  복합식품      부식    장아찌류     장아찌            10
22    100040    가지절임  복합식품      기타      기타      기타            12
27    100047     가지찜  단일식품      부식      찜류       찜             9
36    100060      간장  복합식품     조미식      장류      간장            18
39    100064      간전  복합식품      부식     구이류     전유어            11
50    100078    갈비구이  복합식품      부식     구이류      구이             8
52    100083     갈비찜  복합식품      부식      찜류       찜            13
53    100084     갈비탕  복합식품      부식      국류      탕류             9
66    100106     감사과  복합식품     기호식     한과류     유밀과            16
68    100108     감식초  복합식품     조미식     양념류     양념류             8
81    100133    소내장회  단일식품      부식      회류      생회            21
82    100134     갓김치  복합식품      부식      김치    야채김치             8
90    100145      강정  복합식품     기호식     한과류      유과            36
93    100153     개고기  단일식품      부식      찜류      기타             8
136   100216      게장  복합식품      부식     젓갈류     발효젓            25
138   100218      게전  복합식품      부식     구이류       전            15
139   100220      게젓  복합식품      부식     젓갈류     발효젓            26
142   100225      게찜  복합식품      부식      찜류       찜            12
143   100226      게탕  복합식품      부식      국류      탕류             8
146   100231      겨자  단일식품      기타      기타      기타            26
153   100243     겨자채  복합식품      부식     나물류      생채             8
180   100280      고기  단일식품      기타      기타      기타            16
181   100291    고기구이  복합식품      기타      기타      기타             9
187   100302    고기수육  복합식품      기타      기타      기타            18
214   100338    고비나물  단일식품      부식     나물류      숙채             8
235   100373  고추잎장아찌  복합식품      부식    장아찌류     장아찌             8
236   100375     고추장  복합식품     조미식      장류     고추장            29
...      ...     ...   ...     ...     ...     ...           ...
3223  104513      타락  복합식품      기타      기타      기타             8
3224  104514     타락죽  복합식품      주식      죽류       죽            12
3226  104516      탁주  복합식품      주류    양조곡주    순곡주류            24
3231  104521     탕평채  복합식품      부식     나물류       묵             8
3240  104535      토란  단일식품      기타      기타      기타             8
3250  104547     토란병  복합식품     기호식      떡류     지진떡             8
3276  104584    파장아찌  복합식품      부식    장아찌류     장아찌             8
3293  104609    팥시루떡  복합식품     기호식      떡류      찐떡            27
3294  104610    팥시루편  복합식품     기호식      떡류      찐떡            10
3297  104613      팥죽  복합식품      주식      죽류       죽            35
3304  104621      편수  복합식품      주식      면류      만두            10
3309  104627      편포  복합식품      부식    장아찌류      기타            12
3316  104639     포도주  복합식품      주류      기타      기타             8
3318  104641     포도차  복합식품     기호식     음청류      다류            10
3327  104658    풋고추전  복합식품      부식     구이류       전             8
3328  104660   풋고추조림  복합식품      부식      찜류      조림             8
3349  104691     하향주  복합식품      주류    양조곡주    순곡주류            10
3350  104692      한과  복합식품     기호식     한과류     유밀과            25
3366  104710     해삼전  복합식품      부식     구이류       전            14
3386  104737     향감주  복합식품      주류    양조곡주    순곡주류            19
3391  104744     향설고  복합식품     기호식     음청류     음료류             8
3397  104754     향온주  복합식품      주류    양조곡주    순곡주류             9
3405  104765      호두  단일식품      기타      기타      기타            13
3422  104784    호박나물  복합식품      부식     나물류      숙채            10
3455  104834     홍합초  복합식품      부식      찜류       초             9
3468  104851     화양적  복합식품      부식     구이류       적            25
3470  104853      화전  복합식품     기호식      떡류     지진떡            32
3474  104857      화채  복합식품     기호식     음청류      화채            28
3502  104894       회  복합식품      부식      회류      기타            15
3520  104922   흑임자다식  복합식품     기호식     한과류      다식            11

[319 rows x 7 columns]

In [34]:
df[df['대표식품 내 전통식품수']==30] #비교연산가능

      대표식품코드 대표식품명  식품유형 식품분류(대) 식품분류(중) 식품분류(소)  대표식품 내 전통식품수
277   100440   과하주  복합식품      주류    양조곡주   혼양곡주류            30
793   101175   동치미  복합식품      부식      김치     무김치            30
1912  102728    소주  복합식품      주류     증류주   약용증류주            30
2267  103212   어만두  복합식품      주식      면류      만두            30
2348  103321  열구자탕  복합식품      부식      국류      탕류            30

In [44]:
df[df.대표식품명.isin(['소주','과하주','어만두'])] #검새하는거

      대표식품코드 대표식품명  식품유형 식품분류(대) 식품분류(중) 식품분류(소)  대표식품 내 전통식품수
277   100440   과하주  복합식품      주류    양조곡주   혼양곡주류            30
1912  102728    소주  복합식품      주류     증류주   약용증류주            30
2267  103212   어만두  복합식품      주식      면류      만두            30

In [47]:
df[df['식품분류(대)'].isin(['주류'])][:3] #검새하는거 3개만

     대표식품코드 대표식품명  식품유형 식품분류(대) 식품분류(중) 식품분류(소)  대표식품 내 전통식품수
6    100017   가이주  복합식품      주류      기타      기타             1
76   100126    감주  복합식품      주류    양조곡주    순곡주류             7
100  100162    개술  복합식품      주류    양조곡주   혼양곡주류             1

In [57]:
import numpy as np
df1= pd.DataFrame({'age': [5, 6, np.NaN],
                   'born': [pd.NaT, pd.Timestamp('1939-05-27'),
                            pd.Timestamp('1940-04-25')],
                   'name': ['Alfred', 'Batman', ''],
                   'toy': [None, 'Batmobile', 'Joker']})

In [59]:
df1

   age       born    name        toy
0  5.0        NaT  Alfred       None
1  6.0 1939-05-27  Batman  Batmobile
2  NaN 1940-04-25              Joker

In [62]:
df1.isnull()#pd.isnull(df1) 로 써도 됨 null값 찾기

     age   born   name    toy
0  False   True  False   True
1  False  False  False  False
2   True  False  False  False

In [63]:
df1.notnull()#null 아닌거

     age   born  name    toy
0   True  False  True  False
1   True   True  True   True
2  False   True  True   True

In [65]:
df1.isnull().sum() #null의 갯수

age     1
born    1
name    0
toy     1
dtype: int64

In [70]:
df.식품유형.drop_duplicates() #중복제거

0      복합식품
3      단일식품
116      기타
271      기술
Name: 식품유형, dtype: object

In [72]:
df['식품분류(중)'].drop_duplicates().count() #갯수 세기

21

In [73]:
df.columns #컴럼만 보기

Index(['대표식품코드', '대표식품명', '식품유형', '식품분류(대)', '식품분류(중)', '식품분류(소)',
       '대표식품 내 전통식품수'],
      dtype='object')

In [75]:
df[['식품유형','식품분류(소)']].drop_duplicates() #중복값빼고 선택한 컬럼만 보여줌

      식품유형 식품분류(소)
0     복합식품       전
1     복합식품     토장국
2     복합식품      생회
3     단일식품     양념류
4     복합식품      기타
7     단일식품      기타
9     복합식품     발효젓
10    복합식품      조림
11    복합식품      찌개
13    복합식품    맑은장국
14    복합식품    야채김치
15    복합식품      숙채
16    복합식품      구이
18    복합식품       선
20    복합식품     장아찌
27    단일식품       찜
32    단일식품      볶음
35    복합식품      볶음
36    복합식품      간장
39    복합식품     전유어
43    복합식품      찐떡
44    복합식품      국수
45    복합식품      흰밥
47    복합식품      다식
49    복합식품      응이
52    복합식품       찜
53    복합식품      탕류
59    복합식품       죽
60    단일식품     고명류
63    복합식품      정과
...    ...     ...
517   복합식품       묵
542   단일식품      찐떡
625   단일식품      생채
665   단일식품       죽
684   복합식품      미음
689   복합식품     엿강정
775   복합식품    과일김치
906   복합식품      떡국
923   복합식품      냉국
972     기술       찜
1106  단일식품     장아찌
1170  복합식품     고명류
1299    기술      정과
1536  복합식품     비빔밥
1865  단일식품      탕류
1866  복합식품      숙란
2065  복합식품      암죽
2127  단일식품     토장국
2149  단일식품     수제비
2382  복합식품     잡곡밥
2474    기술     장아찌
2589    기타       죽
2590    기타      응이
2662  단일식품     삶은떡
2957    기술       죽
3078  단일식품   혼양곡주류
3097  복합식품     청국장
3239    기술       즙
3313  단일식품      정과
3424  복합식품      범벅

[104 rows x 2 columns]

In [76]:
df.filter(regex='^대표') #정규식도 사용가능

      대표식품코드    대표식품명  대표식품 내 전통식품수
0     100003     가루전병             1
1     100004     가물치국             3
2     100005     가물치회             5
3     100009   가시연꽃열매             1
4     100010     가시연밥             9
5     100016    가오리어채             1
6     100017      가이주             1
7     100018      가자미             1
8     100019     가자미국             1
9     100020     가자미젓             2
10    100021    가자미조림             1
11    100022    가자미찌개             1
12    100024       가지             2
13    100028      가지국             2
14    100029     가지김치            13
15    100030     가지나물             9
16    100031    가지누르미             1
17    100033     가지말림             2
18    100034      가지선             4
19    100035      가지장             1
20    100037    가지장아찌            10
21    100039      가지전             2
22    100040     가지절임            12
23    100041     가지조림             5
24    100042      가지지             4
25    100043    가지지게미             2
26    100044  가지지게미절임             7
27    100047      가지찜             9
28    100050      가집장             1
29    100051      가짜장             1
...      ...      ...           ...
3499  104889       황탕             1
3500  104890    황토닭구이             1
3501  104893      국화채             1
3502  104894        회            15
3503  104896      회무침             1
3504  104897      회산춘             1
3505  104898       회어             1
3506  104900       회초             1
3507  104901       회향             2
3508  104903      회향탕             3
3509  104904  회화나무가지술             1
3510  104906  회화나무잎국수             1
3511  104908       후추             1
3512  104910     후추가루             1
3513  104913   훈제돼지고기             2
3514  104914     훈제생선             1
3515  104915   훈제염장고기             1
3516  104918       흑당             1
3517  104919       흑두             2
3518  104920      흑두당             1
3519  104921      흑두즙             2
3520  104922    흑임자다식            11
3521  104923     흑임자주             1
3522  104924     흑임자죽             5
3523  104925      희렴초             1
3524  104926     힘줄요리             1
3525  105001      총백죽             1
3526  105002      총시죽             1
3527  105003     쇠비름죽             1
3528  105005      삼계탕             1

[3529 rows x 3 columns]

In [77]:
df.대표식품명[:5]

0      가루전병
1      가물치국
2      가물치회
3    가시연꽃열매
4      가시연밥
Name: 대표식품명, dtype: object

In [79]:
df.loc[3520:3522] #횡으로 값을 가져오기 >> 기본은 열(컬럼)로 가져옴

      대표식품코드  대표식품명  식품유형 식품분류(대) 식품분류(중) 식품분류(소)  대표식품 내 전통식품수
3520  104922  흑임자다식  복합식품     기호식     한과류      다식            11
3521  104923   흑임자주  복합식품      주류    양조곡주   혼양곡주류             1
3522  104924   흑임자죽  복합식품      주식      죽류       죽             5

In [82]:
df.loc[3520:3522, '식품유형':'식품분류(소)'] #횡으로 가져오는데 조건 가능

      식품유형 식품분류(대) 식품분류(중) 식품분류(소)
3520  복합식품     기호식     한과류      다식
3521  복합식품      주류    양조곡주   혼양곡주류
3522  복합식품      주식      죽류       죽

In [83]:
df.iloc[3520:3522, 1:5] #횡으로 가져오는데 iloc 는 인덱스를 사용함

      대표식품명  식품유형 식품분류(대) 식품분류(중)
3520  흑임자다식  복합식품     기호식     한과류
3521   흑임자주  복합식품      주류    양조곡주

In [85]:
a=df['대표식품 내 전통식품수'].min()

1

In [94]:
df.nlargest(2,'대표식품 내 전통식품수') #제일 큰거 n개, 컬럼기주ㅠㄴ

      대표식품코드 대표식품명  식품유형 식품분류(대) 식품분류(중) 식품분류(소)  대표식품 내 전통식품수
2027  102896     술  복합식품      주류      기타      기타           153
560   100861    다식  복합식품     기호식     한과류      다식            57

In [95]:
df.nsmallest(2,'대표식품 내 전통식품수') #제일 작은거  n개 컬럼기준

   대표식품코드   대표식품명  식품유형 식품분류(대) 식품분류(중) 식품분류(소)  대표식품 내 전통식품수
0  100003    가루전병  복합식품      부식     구이류       전             1
3  100009  가시연꽃열매  단일식품     조미식     양념류     양념류             1

In [96]:
df['대표식품 내 전통식품수'].value_counts

<bound method IndexOpsMixin.value_counts of 0        1
1        3
2        5
3        1
4        9
5        1
6        1
7        1
8        1
9        2
10       1
11       1
12       2
13       2
14      13
15       9
16       1
17       2
18       4
19       1
20      10
21       2
22      12
23       5
24       4
25       2
26       7
27       9
28       1
29       1
        ..
3499     1
3500     1
3501     1
3502    15
3503     1
3504     1
3505     1
3506     1
3507     2
3508     3
3509     1
3510     1
3511     1
3512     1
3513     2
3514     1
3515     1
3516     1
3517     2
3518     1
3519     2
3520    11
3521     1
3522     5
3523     1
3524     1
3525     1
3526     1
3527     1
3528     1
Name: 대표식품 내 전통식품수, Length: 3529, dtype: int64>

In [108]:
df['식품분류(중)'].value_counts()[:3] #갯수 알려줌

기타     672
떡류     273
구이류    254
Name: 식품분류(중), dtype: int64

In [98]:
len(df)

3529

In [99]:
df.shape#행수와 컬럼수 알려줌

(3529, 7)

In [102]:
df['식품분류(중)'].nunique()#df['식품분류(중)'].value_counts()의 갯수

21

In [103]:
df.describe() #숫자만 갯수, 표준편차, 최고값 등을 보여줌

              대표식품코드  대표식품 내 전통식품수
count    3529.000000   3529.000000
mean   102510.675262      3.119581
std      1410.594086      5.201047
min    100003.000000      1.000000
25%    101307.000000      1.000000
50%    102497.000000      1.000000
75%    103735.000000      3.000000
max    105005.000000    153.000000

In [105]:
df.describe(include='all')  #문자랑 전~부

               대표식품코드  대표식품명  식품유형 식품분류(대) 식품분류(중) 식품분류(소)  대표식품 내 전통식품수
count     3529.000000   3529  3529    3529    3529    3517   3529.000000
unique            NaN   3529     4       6      21      70           NaN
top               NaN  청태장아찌  복합식품      부식      기타      기타           NaN
freq              NaN      1  3287    1393     672    1183           NaN
mean    102510.675262    NaN   NaN     NaN     NaN     NaN      3.119581
std       1410.594086    NaN   NaN     NaN     NaN     NaN      5.201047
min     100003.000000    NaN   NaN     NaN     NaN     NaN      1.000000
25%     101307.000000    NaN   NaN     NaN     NaN     NaN      1.000000
50%     102497.000000    NaN   NaN     NaN     NaN     NaN      1.000000
75%     103735.000000    NaN   NaN     NaN     NaN     NaN      3.000000
max     105005.000000    NaN   NaN     NaN     NaN     NaN    153.000000

In [106]:
df.describe(include=[np.object]) #문자만 숫자뺴고

        대표식품명  식품유형 식품분류(대) 식품분류(중) 식품분류(소)
count    3529  3529    3529    3529    3517
unique   3529     4       6      21      70
top     청태장아찌  복합식품      부식      기타      기타
freq        1  3287    1393     672    1183

In [112]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})

In [113]:
df1.dropna()#빈값인 애들을 지우는거 (axis=1,0 , how='any, all') axis는 기준축 0은 가로로 1은 세로로 , how는 조건 any이거나 all

   age       born    name        toy
1  6.0 1939-05-27  Batman  Batmobile

In [114]:
df1

   age       born    name        toy
0  5.0        NaT  Alfred       None
1  6.0 1939-05-27  Batman  Batmobile
2  NaN 1940-04-25              Joker

In [121]:
df1.dropna(axis=1,how='any')#빈값인 애들을 지우는거 (axis=1,0 , how='any, all') axis는 기준축 0은 가로로 1은 세로로 , how는 조건 any이거나 all

     name
0  Alfred
1  Batman
2

In [124]:
df1.fillna(39)#빈값채워주기

    age                 born    name        toy
0   5.0                   39  Alfred         39
1   6.0  1939-05-27 00:00:00  Batman  Batmobile
2  39.0  1940-04-25 00:00:00              Joker

In [136]:
df2 = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})

In [137]:
df2

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [139]:
pd.melt(df,id_vars=['A'],value_vars=['B','C'])# 데이터 모양바꾸기

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

In [144]:
df3= pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df3

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [145]:
pd.concat?

Signature: pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=None, copy=True)
Docstring:
Concatenate pandas objects along a particular axis with optional set logic
along the other axes.

Can also add a layer of hierarchical indexing on the concatenation axis,
which may be useful if the labels are the same (or overlapping) on
the passed axis number.

Parameters
----------
objs : a sequence or mapping of Series, DataFrame, or Panel objects
    If a dict is passed, the sorted keys will be used as the `keys`
    argument, unless it is passed, in which case the values will be
    selected (see below). Any None objects will be dropped silently unless
    they are all None in which case a ValueError will be raised
axis : {0/'index', 1/'columns'}, default 0
    The axis to concatenate along
join : {'inner', 'outer'}, default 'outer'
    How to handle indexes on other axis(es)
join_axes : list of Index objects
    Specific indexes to use for the other n - 1 axes instead of performing
    inner/outer set logic
ignore_index : boolean, default False
    If True, do not use the index values along the concatenation axis. The
    resulting axis will be labeled 0, ..., n - 1. This is useful if you are
    concatenating objects where the concatenation axis does not have
    meaningful indexing information. Note the index values on the other
    axes are still respected in the join.
keys : sequence, default None
    If multiple levels passed, should contain tuples. Construct
    hierarchical index using the passed keys as the outermost level
levels : list of sequences, default None
    Specific levels (unique values) to use for constructing a
    MultiIndex. Otherwise they will be inferred from the keys
names : list, default None
    Names for the levels in the resulting hierarchical index
verify_integrity : boolean, default False
    Check whether the new concatenated axis contains duplicates. This can
    be very expensive relative to the actual data concatenation
sort : boolean, default None
    Sort non-concatenation axis if it is not already aligned when `join`
    is 'outer'. The current default of sorting is deprecated and will
    change to not-sorting in a future version of pandas.

    Explicitly pass ``sort=True`` to silence the warning and sort.
    Explicitly pass ``sort=False`` to silence the warning and not sort.

    This has no effect when ``join='inner'``, which already preserves
    the order of the non-concatenation axis.

    .. versionadded:: 0.23.0

copy : boolean, default True
    If False, do not copy data unnecessarily

Returns
-------
concatenated : object, type of objs
    When concatenating all ``Series`` along the index (axis=0), a
    ``Series`` is returned. When ``objs`` contains at least one
    ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
    the columns (axis=1), a ``DataFrame`` is returned.

Notes
-----
The keys, levels, and names arguments are all optional.

A walkthrough of how this method fits in with other tools for combining
pandas objects can be found `here
<http://pandas.pydata.org/pandas-docs/stable/merging.html>`__.

See Also
--------
Series.append
DataFrame.append
DataFrame.join
DataFrame.merge

Examples
--------
Combine two ``Series``.

>>> s1 = pd.Series(['a', 'b'])
>>> s2 = pd.Series(['c', 'd'])
>>> pd.concat([s1, s2])
0    a
1    b
0    c
1    d
dtype: object

Clear the existing index and reset it in the result
by setting the ``ignore_index`` option to ``True``.

>>> pd.concat([s1, s2], ignore_index=True)
0    a
1    b
2    c
3    d
dtype: object

Add a hierarchical index at the outermost level of
the data with the ``keys`` option.

>>> pd.concat([s1, s2], keys=['s1', 's2',])
s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

Label the index keys you create with the ``names`` option.

>>> pd.concat([s1, s2], keys=['s1', 's2'],
...           names=['Series name', 'Row ID'])
Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

Combine two ``DataFrame`` objects with identical columns.

>>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
...                    columns=['letter', 'number'])
>>> df1
  letter  number
0      a       1
1      b       2
>>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
...                    columns=['letter', 'number'])
>>> df2
  letter  number
0      c       3
1      d       4
>>> pd.concat([df1, df2])
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects with overlapping columns
and return everything. Columns outside the intersection will
be filled with ``NaN`` values.

>>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
...                    columns=['letter', 'number', 'animal'])
>>> df3
  letter  number animal
0      c       3    cat
1      d       4    dog
>>> pd.concat([df1, df3])
  animal letter  number
0    NaN      a       1
1    NaN      b       2
0    cat      c       3
1    dog      d       4

Combine ``DataFrame`` objects with overlapping columns
and return only those that are shared by passing ``inner`` to
the ``join`` keyword argument.

>>> pd.concat([df1, df3], join="inner")
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects horizontally along the x axis by
passing in ``axis=1``.

>>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
...                    columns=['animal', 'name'])
>>> pd.concat([df1, df4], axis=1)
  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

Prevent the result from including duplicate index values with the
``verify_integrity`` option.

>>> df5 = pd.DataFrame([1], index=['a'])
>>> df5
   0
a  1
>>> df6 = pd.DataFrame([2], index=['a'])
>>> df6
   0
a  2
>>> pd.concat([df5, df6], verify_integrity=True)
Traceback (most recent call last):
    ...
ValueError: Indexes have overlapping values: ['a']
File:      c:\users\user\anaconda3\lib\site-packages\pandas\core\reshape\concat.py
Type:      function

In [150]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
pd.concat([s1, s2])#합쳐줌

0    a
1    b
0    c
1    d
dtype: object

In [147]:
pd.concat([s1, s2]).reset_index()#인덱스값을 다시 정렬해줌

   index  0
0      0  a
1      1  b
2      0  c
3      1  d

In [148]:
pd.concat([s1, s2], axis=1) #가로로 합칠때

   0  1
0  a  c
1  b  d